In [1]:
import pandas as pd
df = pd.read_excel(r'proshares_analysis_data.xlsx', sheet_name='hedge_fund_series', index_col=0)
df

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
2011-08-31,-0.032149,-0.025588,-0.025689,-0.027035,-0.006489
2011-09-30,-0.038903,-0.032414,-0.032593,-0.032465,-0.022144
2011-10-31,0.026858,0.043593,0.043320,0.050530,0.025241
2011-11-30,-0.013453,-0.012142,-0.012431,-0.028606,-0.007965
2011-12-31,-0.004479,0.001938,0.001796,0.012875,0.001823
...,...,...,...,...,...
2022-05-31,-0.005374,0.003303,0.003738,0.004920,-0.004025
2022-06-30,-0.028522,-0.028800,-0.029183,-0.032083,-0.033681
2022-07-31,0.012747,0.021568,0.021050,0.020232,0.018822
2022-08-31,0.004520,-0.006154,-0.006401,-0.008968,-0.011632
2022-09-30,0.000000,-0.039782,-0.039517,-0.042855,-0.039806

In [2]:
sum_stat = pd.DataFrame(index=df.columns)
sum_stat["Mean"], sum_stat["Volatility"], sum_stat["Sharpe ratio"] = df.mean(), df.std(), df.mean()/df.std()
sum_stat

                    Mean  Volatility  Sharpe ratio
HFRIFWI Index   0.003572    0.017584      0.203157
MLEIFCTR Index  0.002139    0.016416      0.130281
MLEIFCTX Index  0.002023    0.016363      0.123638
HDG US Equity   0.001167    0.017101      0.068259
QAI US Equity   0.000965    0.014121      0.068315

In [3]:
cum_ret = (df + 1).cumprod()
cum_ret

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
2011-08-31,0.967851,0.974412,0.974311,0.972965,0.993511
2011-09-30,0.930199,0.942827,0.942556,0.941377,0.971511
2011-10-31,0.955182,0.983928,0.983387,0.988945,0.996033
2011-11-30,0.942332,0.971981,0.971162,0.960654,0.988099
2011-12-31,0.938112,0.973865,0.972907,0.973023,0.989901
...,...,...,...,...,...
2022-05-31,1.598247,1.381289,1.361450,1.224131,1.201796
2022-06-30,1.552661,1.341508,1.321719,1.184856,1.161317
2022-07-31,1.572453,1.370442,1.349541,1.208829,1.183176
2022-08-31,1.579560,1.362008,1.340903,1.197988,1.169413
2022-09-30,1.579560,1.307825,1.287915,1.146648,1.122863

In [4]:
rolling_max = cum_ret.cummax()
rolling_max

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
2011-08-31,0.967851,0.974412,0.974311,0.972965,0.993511
2011-09-30,0.967851,0.974412,0.974311,0.972965,0.993511
2011-10-31,0.967851,0.983928,0.983387,0.988945,0.996033
2011-11-30,0.967851,0.983928,0.983387,0.988945,0.996033
2011-12-31,0.967851,0.983928,0.983387,0.988945,0.996033
...,...,...,...,...,...
2022-05-31,1.659896,1.493465,1.470874,1.334430,1.302194
2022-06-30,1.659896,1.493465,1.470874,1.334430,1.302194
2022-07-31,1.659896,1.493465,1.470874,1.334430,1.302194
2022-08-31,1.659896,1.493465,1.470874,1.334430,1.302194
2022-09-30,1.659896,1.493465,1.470874,1.334430,1.302194

In [5]:
drawdown = (cum_ret-rolling_max)/rolling_max
drawdown

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
2011-08-31,0.000000,0.000000,0.000000,0.000000,0.000000
2011-09-30,-0.038903,-0.032414,-0.032593,-0.032465,-0.022144
2011-10-31,-0.013090,0.000000,0.000000,0.000000,0.000000
2011-11-30,-0.026367,-0.012142,-0.012431,-0.028606,-0.007965
2011-12-31,-0.030728,-0.010227,-0.010657,-0.016099,-0.006157
...,...,...,...,...,...
2022-05-31,-0.037140,-0.075111,-0.074394,-0.082656,-0.077099
2022-06-30,-0.064603,-0.101748,-0.101406,-0.112088,-0.108184
2022-07-31,-0.052680,-0.082374,-0.082490,-0.094123,-0.091398
2022-08-31,-0.048398,-0.088022,-0.088363,-0.102247,-0.101967
2022-09-30,-0.048398,-0.124302,-0.124388,-0.140720,-0.137714

In [6]:
drawdown.min()

HFRIFWI Index    -0.115473
MLEIFCTR Index   -0.124302
MLEIFCTX Index   -0.124388
HDG US Equity    -0.140720
QAI US Equity    -0.137714
dtype: float64

In [7]:
drawdown_dates = pd.DataFrame()
for i in drawdown.columns:
    drawdown_dates.loc[i, "Start Date"] = drawdown[i][drawdown[i] == 0].loc[:drawdown[i].idxmin()].index[-1]
drawdown_dates['End Date'] = drawdown.idxmin()
drawdown_dates

               Start Date   End Date
HFRIFWI Index  2019-12-31 2020-03-31
MLEIFCTR Index 2021-06-30 2022-09-30
MLEIFCTX Index 2021-06-30 2022-09-30
HDG US Equity  2021-06-30 2022-09-30
QAI US Equity  2021-06-30 2022-09-30

In [8]:
for i in drawdown.columns:
    if drawdown[i][drawdown[i] == 0].loc[drawdown[i].idxmin():].size != 0:
        drawdown_dates.loc[i, "Recovery Date"] = drawdown[i][drawdown[i] == 0].loc[drawdown[i].idxmin():].index[0]

drawdown_dates

               Start Date   End Date Recovery Date
HFRIFWI Index  2019-12-31 2020-03-31    2020-08-31
MLEIFCTR Index 2021-06-30 2022-09-30           NaT
MLEIFCTX Index 2021-06-30 2022-09-30           NaT
HDG US Equity  2021-06-30 2022-09-30           NaT
QAI US Equity  2021-06-30 2022-09-30           NaT

In [12]:
drawdown_dates["Recovery Duration"] = drawdown_dates["Recovery Date"] - drawdown_dates["End Date"]
drawdown_dates

               Start Date   End Date Recovery Date Recovery Duration
HFRIFWI Index  2019-12-31 2020-03-31    2020-08-31          153 days
MLEIFCTR Index 2021-06-30 2022-09-30           NaT               NaT
MLEIFCTX Index 2021-06-30 2022-09-30           NaT               NaT
HDG US Equity  2021-06-30 2022-09-30           NaT               NaT
QAI US Equity  2021-06-30 2022-09-30           NaT               NaT

In [10]:
forecast_expanded_mean = df.expanding().mean()
forecast_expanded_mean

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
2011-08-31,-0.032149,-0.025588,-0.025689,-0.027035,-0.006489
2011-09-30,-0.035526,-0.029001,-0.029141,-0.029750,-0.014316
2011-10-31,-0.014731,-0.004803,-0.004987,-0.002990,-0.001130
2011-11-30,-0.014412,-0.006638,-0.006848,-0.009394,-0.002839
2011-12-31,-0.012425,-0.004922,-0.005119,-0.004940,-0.001907
...,...,...,...,...,...
2022-05-31,0.003769,0.002614,0.002501,0.001693,0.001504
2022-06-30,0.003522,0.002374,0.002259,0.001435,0.001236
2022-07-31,0.003592,0.002519,0.002402,0.001578,0.001369
2022-08-31,0.003599,0.002454,0.002335,0.001498,0.001271
2022-09-30,0.003572,0.002139,0.002023,0.001167,0.000965

In [14]:
b_forecast = forecast_expanded_mean.shift(periods=1, fill_value=0)
b_forecast

,HFRIFWI Index,MLEIFCTR Index,MLEIFCTX Index,HDG US Equity,QAI US Equity
2011-08-31,0.000000,0.000000,0.000000,0.000000,0.000000
2011-09-30,-0.032149,-0.025588,-0.025689,-0.027035,-0.006489
2011-10-31,-0.035526,-0.029001,-0.029141,-0.029750,-0.014316
2011-11-30,-0.014731,-0.004803,-0.004987,-0.002990,-0.001130
2011-12-31,-0.014412,-0.006638,-0.006848,-0.009394,-0.002839
...,...,...,...,...,...
2022-05-31,0.003840,0.002608,0.002492,0.001668,0.001547
2022-06-30,0.003769,0.002614,0.002501,0.001693,0.001504
2022-07-31,0.003522,0.002374,0.002259,0.001435,0.001236
2022-08-31,0.003592,0.002519,0.002402,0.001578,0.001369
2022-09-30,0.003599,0.002454,0.002335,0.001498,0.001271

In [32]:
summ = 0
l = []
for col in b_forecast.columns:
  for ind in b_forecast.index:
    summ  += (forecast_expanded_mean.loc[ind, col] - b_forecast.loc[ind, col])**2
    l.append(summ/b_forecast.shape[0])
  print("MSE for", col, "column is", round(summ/b_forecast.shape[0], 8))
print("Total MSE for the whole dataset is", round(sum(l), 8))

MSE for HFRIFWI Index column is 1.164e-05
MSE for MLEIFCTR Index column is 2.138e-05
MSE for MLEIFCTX Index column is 3.115e-05
MSE for HDG US Equity column is 4.282e-05
MSE for QAI US Equity column is 4.512e-05
Total MSE for the whole dataset is 0.02031865